@import url("https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,301,701,300,501,401,901,400&f[]=clash-display@400,700,500,600,300&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  overflow: -moz-scrollbars-vertical;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --Global: #004db3;
  --SemiGlobal: #5588cc;
  --Body: #f8f9fc;

  --Satoshi: "Satoshi", sans-serif;
  --ClashDisplay: "Clash Display", sans-serif;

  --Black: #000f24;
  --White: #ffffff;

  --GlobalShade: #ccdbf0;
  --OldRose: #394a6d;
  --Magnolia: #f4f3fe;
  --ChineseSilver: #cccccc;

  --Gray: #a1a1a1;

  --shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --overlay: rgba(44, 51, 58, 0.2);
  --lightShadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
  --borderDefault: 1px solid rgba(44, 51, 58, 0.2);
}
body {
  background-color: var(--Body);
  transition: .4s ease-in-out;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ClashDisplay);
  color: var(--Black);
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0.8px;
}
h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 82px;
  letter-spacing: 0em;
}
h2,
h3 {
  font-size: 52px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0em;
}
h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
}
h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: capitalize;
}
p,
li,
a,
span {
  font-family: var(--ClashDisplay);
  color: var(--Gray);
  font-size: 16px;
  margin: 8px 0;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  letter-spacing: 0.8px;
}

img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}
@mixin button {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  padding: 15px 32px;
  margin-top: 40px;
  cursor: pointer;
  font-family: var(--Satoshi);
  background-color: unset;
  border-radius: 4px;
  border: 1px solid var(--Global);
}
button {
  @include button;
}
.main-btn {
  @include button;
  background: var(--Global);
  color: var(--White);
}
.outlined-btn {
  @include button;
  background: transparent;
  border: 1px solid var(--White);
  color: var(--White);
  transition: 0.3s;
  position: relative;
  span {
    margin-left: 10px;
    transition: 0.3s;
    transform: translateX(-30px);
    position: absolute;
    top: 7px;
    color: var(--White);
    opacity: 0;
  }
  &:hover {
    padding-right: 50px;
    span {
      margin-left: 10px;
      transform: translateX(0px);
      opacity: 1;
    }
  }
}
.white-btn {
  @include button;
  background: var(--White);
  color: var(--Global);
  border: 1px solid var(--White);
}
.thumbnail {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px solid var(--White);
}
.align-text {
  text-align: center;
  p {
    text-align: center;
    max-width: 705px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
.container {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 40px;
}
.bannerContainer {
  background-image: url("/pattern.png");
  width: 100%;
  background-position: center;
  background-size: cover;
  background-color: var(--Global);
}
.audio_class {
  &:before {
    content: url("/audio.svg");
    position: absolute;
    left: 25px;
    top: 18px;
  }
}
.live_class {
  &:before {
    content: url("/live.svg");
    position: absolute;
    left: 25px;
    top: 18px;
  }
}
.recorded_class {
  &:before {
    content: url("/recorded.svg");
    position: absolute;
    left: 25px;
    top: 18px;
  }
}
.notes_class {
  &:before {
    content: url("/notes.svg");
    position: absolute;
    left: 25px;
    top: 18px;
  }
}
.add_crown {
  h3 {
    position: relative;

    &:before {
      content: url("/crown.svg");
      position: absolute;
      left: -44px;
      top: -35px;
    }
  }
}
.masked_pattern {
  background-image: url("/pattern2.svg");
  width: 100%;
  background-position: center;
  background-size: cover;
  background-color: var(--Global);
}
.accordion-toggle {
  display: flex;
  padding: 16px;
  background: var(--White);
  align-items: flex-start;
  cursor: pointer;
  border-bottom: var(--borderDefault);
  justify-content: space-between;

  transition: 0.3s;
  span {
    color: var(--Black);
  }
}
.accordion-toggle.active h5 {
  color: var(--Global);
}
.accordion-toggle.active {
  border-left: 10px solid var(--Global);
  background: var(--Gray);
}
.accordion-toggle.active .accordion-icon {
  transform: rotate(180deg);
  color: var(--White);
}

.accordion-card {
  border: var(--borderDefault);
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: hidden;
}
.accordion-card:last-child {
  margin-bottom: 0;
}
.accordion-title {
  font-family: var(--Satoshi);
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  letter-spacing: 0em;
  color: var(--Black);
  text-align: left;
}
.accordion-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 0 15px;
  background: var(--Gray);
}

.rc-collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}
.rc-collapse.show {
  height: auto;
}
.mobdro li {
  padding: 10px 0;
  margin: 0;
  margin-left: 40px;
}
@media (max-width: 630px) {
  .container {
    padding: 0 20px;
  }
  .vector1,.vector2{
  display: none;
  }
}
@media (max-width: 540px) {
  h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 46px;
  }
  @mixin button {
    font-weight: 700;
    font-size: 18px;
    margin-top: 40px;
    line-height: 22px;
    padding: 8px 16px;
    font-family: var(--Satoshi);
    background-color: unset;
    border-radius: 4px;
    border: 1px solid var(--Global);
  }
  button {
    @include button;
  }
  h2,
  h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
  }
  h4 {
    // font-size: 12px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
  }
}
